.#{$prefix}-m-hero {
  text-align: center;
  background-color: $color-grape_opacity;
  overflow: hidden;


  @include breakpoint("tablet-down") {
    .container-fluid {
      padding: 0;
    }
  }

  @include breakpoint("tablet-up") {
    background-image: url("../images/hero/background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  h1 {
    font-size: 8rem;
    font-family: $font-troutbeck-regular;
    color: $color-cardinal;
    font-weight: $regular;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;

    @include breakpoint("tablet-up") {
      font-size: 12rem;
      width: 100%;
      margin-top: 6rem;
    }
  }

  h6 {
    color: $color-grape;
    font-family: $font-rubik;
    font-size: 2rem;
    font-weight: $bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.02rem;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1rem;

    @include breakpoint("tablet-up") {
      font-size: 2.6rem;
      width: 45%;
      margin-bottom: 5rem;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;

    @media (max-height:1080px){
      height: auto;
    }

    @media (-webkit-device-pixel-ratio: 1.25) and (min-width: 992px), (-webkit-device-pixel-ratio: 1.5) and (min-width: 992px){
      height: fit-content;
    }

    &__headlines {
      position: relative;
      height: 8rem;
      text-align: center;
      margin-top: 5rem;
      display: block;

      @include breakpoint("tablet-up") {
        height: 12rem;
        margin-top: 4.5vw;
      }

      h1 {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transform: rotateX(90deg);
        margin-top: -2rem;
        display: block;
      }
    }

    &__logo {
      display: block;
      margin: 2rem auto;

      img {
        width: 13.4rem;
        height: auto;
      }

      @include breakpoint("tablet-up") {
        display: none;
      }
    }

    &__imgmob {
      margin-top: auto;
      position: relative;
      width: 100%;

      @include breakpoint("tablet-up") {
        display: none;
      }
    }

    &__imgdesk {
      margin-top: auto;
      position: relative;
      display: none;

      @include breakpoint("tablet-up") {
        width: 100%;
        left: 0;
        display: block;
      }
    }
  }

  @include breakpoint("phone-up") {
    padding-top: 11.1rem;
  }
}

