{{#extend "layout-misc" page="thank-you"
    title="thank-you"
    description="thank you"
    }}
  {{#content "body" }}
    <div id="thank-you">
      {{> thank-you data=pages.thankYou prefix=pages.thankYou.prefixPage}}
    </div>
  {{/content}}
{{/extend}}
