<div class="col-12 col-sm-6 modal-container">
      <!-- modal  -->
      <div class="modal fade" id="confirm-leave" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ga-category-custom="interstitial_exit_site_x" data-ga-label="Site Exit Interstitial">&times;</button>
                  </div>
                  <div class="modal-body">
                      <p>You are now leaving United PAH Support.</p>
                      <p>Click CONTINUE to proceed.</p>
                  </div>
                  <div class="modal-footer">
                      <a class="continue" data-ga-category="interstitial_exit_site_continue" data-ga-label="Site Exit Interstitial" target="_blank">Continue</a>
                  </div>
                </div>
            </div>
      </div><!-- /. modal -->
</div>
